# Visual Studio Code related
.classpath
.project
.settings/
.vscode/

# flutter
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# dependencies
node_modules/

#dot-env
.env